@use "global" as *;

.about__inner {
  padding-right: rem(16);
  padding-left: rem(14);
  width: 100%;
  max-width: 600px;
  margin: auto;
  @include mq("md") {
    max-width: 1160px;
    padding-right: rem(90);
    padding-left: rem(40);
  }
}