@use "global" as *;

.footer-menu {
  display: flex;
  margin-top: rem(38);
  @include mq("md") {
    justify-content: space-between;
    margin-top: rem(22);
    max-width: 986px;
    transform: translateX(22px);
  }
}
.footer-menu__lefts {
  margin-left: rem(22);
  @include mq("md") {
    // display: flex;
    display: contents;
  }
}
//スマホサイズの指定
.footer-menu__left .menu:first-of-type .menu__title {
  margin-top: 0;
}

// .footer-menu__center-left {
//   @include mq("md") {
//     margin-left: rem(142);
//   }
// }
//PCサイズの指定
.footer-menu__center-left .menu:first-of-type .menu__title {
  @include mq("md") {
    margin-top: 0;
  }
}



.footer-menu__rights {
  margin-left: rem(38);
  @include mq("md") {
    // display: flex;
    // margin-left: 0;
    display: contents;
  }
}

// .footer-menu__center-right {
//   @include mq("md") {
//     margin-left: rem(142);
//   }
// }

//スマホサイズの指定
.footer-menu__center-right .menu:first-of-type .menu__title {
  margin-top: 0;
}
// .footer-menu__right {
//   @include mq("md") {
//     margin-left: rem(142);
//   }
// }

//PCサイズの指定
.footer-menu__right .menu:first-of-type .menu__title {
  @include mq("md") {
    margin-top: 0;
  }
}