@use "global" as *;

.hamburger-menu {
  width: 100%;
  height: 100vh;
  background-color: $main;
  position: relative;
  z-index: 9980;
  padding: rem(104) 0;
  transform: translateX(100%);
  transition: transform .5s;
  overflow: scroll;
   @include mq("md") {
    display: none;
  }
}
.js-menu.is-active {
  transform: translateX(0%);
}

.hamburger__inner {
 padding: 0 rem(15);
 display: flex;
 justify-content: center;
}

.hamburger-menu__left{
  margin-left: rem(22);
}

.hamburger-menu__left .menu:nth-of-type(1) .menu__title {
  margin-top: 0;
}

.hamburger-menu__right {
  margin-left: rem(22+7);
}

.hamburger-menu__right .menu:nth-of-type(1) .menu__title {
  margin-top: 0;
}