@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  z-index: 9999;
  @include mq("md") {
    height: rem(90);
  }
}

//hamburger-menuをクリックした時の挙動
.js-block.is-active {
  background-color: transparent;
}

.header__inner {
  height: inherit;
  padding-left: rem(15);
  padding-right: rem(21);
  @include mq("md") {
    padding: 0 rem(20) 0 rem(40);
  }
}

.header__block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: inherit;
  background-color: rgba($color: #0D2936AD, $alpha: .68);
  z-index: 9999;
  transition: background-color .5s;
}

.header__content {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}