@use "global" as *;

.about__image-main {
  width: 81.4814815%;
  height: 100%;
  margin-left: auto;

}


.about__image-main img{
  aspect-ratio: 281/186;
  height: 100%;
  object-fit: cover;
  object-position: center;
  @include mq("md") {
    aspect-ratio: 880/581;
  }
}

.about__image-sub {
  position: absolute;
  width: 37.1014493%;
  height: 100%;
  min-height: rem(194);
  top: -26px;
  left: 0;
  z-index: 1;
  @include mq("md") {
    width: 37.037037%;
    top: -80px;
    height: 104.302926%;
  }
}

.about__image-sub img{
  aspect-ratio: 128/194;
  height: auto;
  object-fit: cover;
  object-position: center;
  @include mq("md") {
    aspect-ratio: 400/606;
  }
}