@use "global" as *;

.about__title {
  font-size: rem(40);
  font-family: $gotu;
  font-weight: 400;
  color: $main;
  line-height: lh(40,40);

  margin-top: rem(40);
  margin-left: rem(1);
  @include mq("md") {
    margin-top: rem(0);
    margin-left: rem(0);
    width: rem(400);
    font-size: rem(80);
    color: $white;
    line-height: lh(100,80);
  }
}

.about__text {
  font-size: rem(16);
  font-family: $noto-sans;
  font-weight: 400;
  color: $darkBlue;

  margin-top: rem(16);
  @include mq("md") {
    margin-top: 0;
    width: rem(400);
    color: $white;
  }
}