@use "global" as *;

.blog {
  position: relative;
  z-index: 0;
}

.blog::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: 100%;
    height: rem(500);
    top: 0;
    left: 0;
    background-image: url(../images/blog__bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
  }
}

.blog__inner {
  width: 100%;
  max-width: 600px;
  padding-right: 21px;
  padding-left: 21px;
  margin-right: auto;
  margin-left: auto;
  @include mq("md") {
    max-width: $inner + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.blog__items {
  margin-top: rem(28);
   @include mq("md") {
    margin-top: rem(80);
  }
}

.blog__button {
  margin-top: rem(38);
  text-align: center;
  @include mq("md") {
    margin-top: rem(79);
  }
}