@use "global" as *;

.blog-cards {
  @include mq("md") {
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(3,1fr);
    position: relative;
  }
}

.blog-cards::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: 40.50056%;
    height: rem(201);
    top: rem(-222);
    left: rem(-80);
    left: calc(50% - min(calc(48vw),rem(620)));
    background-image: url(../images/fish-icon--white.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}