@use "global" as *;

.button {
  padding: rem(11) rem(88) rem(16) rem(40);
  background-color: $main;
  border: 1px solid $main;
  display: inline-block;

  position: relative;
  z-index: 0;
}


.button::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 4px;
  left: 4px;
  border: 1px solid $main;
  z-index: -1;
}

.button::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: $white;
  // transform: translateX(-100%);
  clip-path: inset(0 100% 0 0);
  transition: clip-path .3s;
  z-index: 0;
}



//buttonをホバーした時の挙動
.button:hover.button::after {
  clip-path: inset(0 0% 0 0);
}

.button:hover .button__text {
  color: $main;
}

.button:hover .button__text::before {
  background-color: $main;
}

.button:hover .button__text::after {
  background-color: $main;

}

