@use "global" as *;

.campaign-splide {
  margin-top: rem(28);
  margin-right: calc( 50% - 50vw );
  @include mq("md") {
    margin-top: rem(40);
  }
}

.campaign-splide__track {
  padding-bottom: rem(10);
}

.campaign-splide__pagination {
  display: none;
}

.campaign-splide__arrows {
  display: none;
  @include mq("md") {
    display: flex;
    position: absolute;
    top: rem(-105);
    right: calc(50% - max(rem(180),rem(350)));
    gap: rem(80);
  }
}

.campaign-splide__arrow {
  @include mq("md") {
    background-color: transparent;
    position: relative;
    transform: initial;
    width: rem(80);
    height: rem(80);
  }
}

.campaign-splide__arrow::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.campaign-splide__arrow--prev::before {
  background-image: url(../images/campaign-prev.svg);
}

.campaign-splide__arrow--next::before {
  background-image: url(../images/campaign-next.svg);
}

.campaign-splide__arrow--prev {
  @include mq("md") {
    left: initial;
  }
}

.campaign-splide__arrow--next {
   @include mq("md") {
    right: initial;
  }
}

.campaign-splide__slide {
  display: flex;
  align-items: stretch;
}