@use "global" as *;

.contact__blocks {
  position: relative;
  @include mq("md") {
    display: flex;
    align-items: center;
    box-shadow: 4px 4px 10px rgba($color: #000, $alpha: 0.25);
    width: 100%;
    max-width: 1080px;
    padding: rem(80) 0;
  }
}