@use "global" as *;

.footer__icon {
  
}

.footer__icon + .footer__icon {
  margin-left: rem(16);
}

.footer__icon img {
  width: 100%;
  aspect-ratio: 24/24;
  object-fit: cover;
  object-position: center;
  @include mq("md") {
    aspect-ratio: 32/32;
    height: 100%;
  }
}