@use "global" as *;

.footer__logo {
  width: 34.7826087%;
  display: inline-block;
  @include mq("md") {
    width: 18.518518518518519%;
  }
}
.footer__logo img{
  width: 100%;
  height: 100%;
  aspect-ratio: 120/45;
  object-fit: cover;
  object-position: center;
}