@use "global" as *;

//スライダーの記述
.fv {
  position: relative;
}

.fv__arrows {
  display: none;
}
.fv__pagination {
  display: none;
}

.fv__slide img {
  height: 100vh;
  object-fit: cover;
  object-position: center;
  aspect-ratio: 375/667;
}


.fv__block {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.fv__title {
  font-size: rem(40);
  font-family: $lato;
  font-weight: 400;
  color: $white;
  line-height: lh(48,40);
  text-transform: uppercase;
  letter-spacing: 0.54em;
  text-indent: 0.54em;
  @include mq("md") {
    font-size: rem(80);
    line-height: lh(100,80);
  }
}

.fv__sub-title {
  text-align: center;
  font-size: rem(20);
  line-height: lh(33,20);
  font-family: $gotu;
  color: $white;
}