@use "global" as *;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  z-index: 9999;
  background-color: rgba($color: #0D2936AD, $alpha: .68);
  transition: background-color .5s;
  @include mq("md") {
    height: rem(90);
  }
}

.header__inner {
  height: inherit;
  padding-left: rem(15);
  padding-right: rem(15);
  @include mq("md") {
    padding: 0 rem(20) 0 rem(40);
  }
}

//hamburger-menuをクリックした時の挙動
.header.is-active {
  background-color: #408F95;
  @include mq("md") {
     background-color: rgba($color: #0D2936AD, $alpha: .68);
  }
}

.header__content {
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  width: rem(102);
  @include mq("md") {
    width: rem(133);
    height: rem(50);
  }
}

.header__logo a{
  width: inherit;
  height: inherit;
}

.header__logo img{
  aspect-ratio: 102/38;
  @include mq("md") {
    width: 100%;
    height: 100%;
    aspect-ratio: 133/50;
  }
}

.header-items {
  display: flex;
  align-items: center;
  height: inherit;
}

.header-item {
  height: inherit;
}

.header-item a {
  height: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 min(1.4vw,rem(20));

  position: relative;
}

.header-item a::before {
  position: absolute;
  content: "";
  width: 80%;
  height: 1px;
  background-color: $white;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%) scale(0);
  transition: transform .3s;
}

.header-item:hover.header-item a::before {
  transform: translateX(-50%) scale(1);
}

.header-item__en {
  font-size: rem(18);
  font-family: $gotu;
  font-weight: 400;
  color: $white;
  line-height: lh(18,18);
}

.header-item__en::first-letter {
  text-transform: uppercase;
}

.header-item__jp {
  font-size: rem(10);
  font-family: $noto-sans;
  font-weight: 400;
  color: $white;
  line-height: lh(15,10);
  text-align: center;
  margin-top: rem(4);
}