@use "global" as *;

.logo {
  width: rem(102);
  @include mq("md") {
    width: rem(133);
    height: rem(50);
  }
}

.logo a{
  width: inherit;
  height: inherit;
}

.logo img{
  aspect-ratio: 102/38;
  @include mq("md") {
    width: 100%;
    height: 100%;
    aspect-ratio: 133/50;
  }
}