@use "global" as *;

.price__boxs {
  @include mq("md") {
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    margin-top: rem(40);
    justify-content: space-between;
  }
}

.price__boxs::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: 40.462962962962963%;
    height: rem(201);
    bottom: rem(-178);
    left: calc(50% - min(calc(48vw),rem(620)));
    background-image: url(../images/fish-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}