@use "global" as *;

.section__title {
  text-align: center;
}

.section__title--en {
  font-size: rem(32);
  font-family: $gotu;
  font-weight: 400;
  color: $darkBlue;
  line-height: lh(40,40);
  @include mq("md") {
    font-size: rem(40);
  }
}

.section__title--en::first-letter {
  color: $main;
  text-transform: uppercase;
}

.section__title--jp {
  font-size: rem(12);
  font-family: $noto-sans;
  font-weight: 400;
  color: $main;
  line-height: lh(18,12);
  margin-top: rem(8);
}

.section__title--white {
  @include mq("md") {
    color: $white;
  }
}
.section__title--white::first-letter {
  @include mq("md") {
    color: $white;
  }
}
