@use "global" as *;

.voice-cards {
  @include mq("md") {
    position: relative;
    display: grid;
    gap: rem(40);
    grid-template-columns: repeat(2,1fr);
  }
}

.voice-cards::before {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(301);
    height: rem(138);
    top: rem(-216);
    // left: rem(-80);
    left: calc(50% - min(calc(48vw),rem(620)));
    background-image: url(../images/fish-icon.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: scale(-1,1);
  }
}

.voice-cards::after {
  @include mq("md") {
    position: absolute;
    content: "";
    width: rem(71);
    height: rem(162);
    bottom: rem(-205);
    right: rem(0);
    background-image: url(../images/seahorse.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}